header{
    background-image: url("ubermega.png");
    background-size: cover;
    height: 750px;
    width: 100%;
}
.order{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.space{
    width: 964.8px;
    height: 80px;
}
.first{
margin-left: 30px;
margin-right: 30px;
width: 450px;
height: 325px;
float: left;
margin-right: 15px;
}
